/ Page Content
= javascript_include_tag 'dataentryupdate'
.container.shadow-none.p-3.mb-5.bg-light.rounded{:style => "margin-top: 25px"}
  %div.pageheight
    .row
      %br/
      %br/
      %br/
      .col-md-12
        - if flash[:notice]
          %br/
          %br/
          %br/
          .alert.alert-success{:role => "alert"}
            =flash[:notice]
        .row
          .col-md-2
            #sidebar-wrapper
              %ul.nav.flex-column{:style => "margin-top: 50px"}
                %li.nav-item
                  %a.nav-link{:href => "/dataentry/dataentry_landing_page"} My Projects
                %li.nav-item
                  %a.nav-link{:href => "/profile"} Profile
                %li.nav-item
                  %a.nav-link{:href => "/dataentry/update"} Update Request
          .col-md-10
            .shadow-none.p-3.mb-5.bg-light.rounded{:style => "margin-top: 25px"}
              %h4.my-4
                Select Form
              #updatedataform
                %div#selectform
                  %select#selectedform{:name => "forms"}
                    %option{:value => nil } Select Forms
                    - @forms.each do |form|
                      %option{:value => form.id} #{form.form_name}
    / /.row
/ /.container
/ Footer
%footer.py-5.bg-dark
  .container
    %p.m-0.text-center.text-white Copyright © Data Capture 2018
  / /.container

#editDataModal.modal
  .modal-dialog
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title Edit Data Here
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
      / Modal body
      .modal-body
        %div#editDataForm
          %form#editDataPostForm{:action => "/dataentry/updateformdata/", :method => "POST"}


