/ Page Content
.container
  %div.pageheight
    .row
      %br/
      %br/
      %br/
      / Blog Entries Column
      .col-md-12
        .shadow-none.p-3.mb-5.bg-light.rounded{:style => "margin-top: 25px"}
          %br/
          %h1.my-4
            Forget Password
          %br/
          .col-md-6
            %form#postform{:action => "/forgotpassword", :method => "POST"}
              = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
              .form-group
                %input#forgetpassword.form-control{:name => "email", :placeholder => "Email", :type => "email"}/
              .form-group
                %select{:name => "usertype"}
                  %option{:value => "researcher"} Researcher
                  %option{:value => "dataentry"} Data Entry
              %br/
              %button.btn.btn-primary{:type => "submit", :value => "Submit"} Send Reset Link
        - if flash[:notice]
          - if flash[:success] == 1
            .alert.alert-success{:role => "alert"}
              =flash[:notice]
          - else
            .alert.alert-danger{:role => "alert"}
              =flash[:notice]
  / /.row
/ /.container
/ Footer
%footer.py-5.bg-dark
  .container
    %p.m-0.text-center.text-white Copyright © SELT Project 2018
  / /.container
