/ Page Content
.container
  %div.pageheight
    .row
      %br/
      %br/
      %br/
      / Blog Entries Column
      .col-md-12
        .shadow-none.p-3.mb-5.bg-light.rounded{:style => "margin-top: 25px"}
          %br/
          %h1.my-4
            Reset Password
          %br/
          .col-md-6
            %form#postform{:action => "/resetpassword", :method => "POST"}
              = tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token)
              %input#token.form-control{:name => "reset_token", :type => "hidden", :value => @reset_token}/
              .form-group
                %input#password.form-control{:name => "password", :placeholder => "Password", :type => "password"}/
              .form-group
                %input#confirmpassword.form-control{:name => "confirmpassword", :placeholder => "Confirm Password", :type => "password"}/
              %br/
              %button.btn.btn-primary{:type => "submit", :value => "Submit"} Update Password
        - if flash[:notice]
          - if flash[:success] == 1
            .alert.alert-success{:role => "alert"}
              =flash[:notice]
          - else
            .alert.alert-danger{:role => "alert"}
              =flash[:notice]
  / /.row
/ /.container
/ Footer
%footer.py-5.bg-dark
  .container
    %p.m-0.text-center.text-white Copyright © Data Capture 2018
  / /.container
